.disabled {
  pointer-events: none;
  // opacity: 0.5;
}

.divdisabled input,
.divdisabled select,
.divdisabled button,
.divdisabled label{
  pointer-events: none;
}
.divdisabled *{
  user-select: none;
  
}