<div class="modal-content">
  <div class="modal-header justify-content-between">
    <h5 class="modal-title m-0">Payer Details</h5>
    <div class="d-flex align-items-center gap-2">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="cancel()"
      ></button>
    </div>
  </div>

  <div class="modal-body">
    <div class="border rounded">
      <div class="row mx-0 g-2 border-bottom">
        <div class="col-4">
          <label for="" class="form-label m-0 clr-primary-600 fw-semibold fs-7"
            >Payer:
          </label>
          <p class="m-0">{{ companyBasicDetails?.PayerName || "-" }}</p>
        </div>
        <div class="col">
          <label for="" class="form-label m-0 clr-primary-600 fw-semibold fs-7"
            >Code:
          </label>
          <p class="m-0">{{ companyBasicDetails?.CompanyCode || "-" }}</p>
        </div>
        <div class="col">
          <label for="" class="form-label m-0 clr-primary-600 fw-semibold fs-7"
            >Phone:
          </label>
          <p class="m-0">{{ companyBasicDetails?.PhoneNo || "-" }}</p>
        </div>
        <div class="col">
          <label for="" class="form-label m-0 clr-primary-600 fw-semibold fs-7"
            >Fax:
          </label>
          <p class="m-0">{{ companyBasicDetails?.CompanyFax || "-" }}</p>
        </div>
        <div class="col">
          <label for="" class="form-label m-0 clr-primary-600 fw-semibold fs-7"
            >Email:
          </label>
          <p class="m-0">{{ companyBasicDetails?.CompanyEmail || "-" }}</p>
        </div>
        <div class="col">
          <label for="" class="form-label m-0 clr-primary-600 fw-semibold fs-7"
            >Address:
          </label>
          <p class="m-0">{{ companyBasicDetails?.Companyaddress || "-" }}</p>
        </div>
      </div>
    </div>
    <div class="card card-style-1 rounded mt-3">
      <div class="card-header rounded-top">
        <h5 class="card-heading">Employee Details</h5>
      </div>
      <div class="p-2 employeeDetails_cardbody">
        <div class="row mx-0 g-2">
          <div class="col-2 d-flex align-items-center gap-1">
            <label
              for=""
              class="form-label m-0 clr-primary-600 fw-semibold fs-7"
              >Employee No:
            </label>
            <p class="m-0">{{ companyBasicDetails?.PatientEmpID || "-" }}</p>
          </div>
          <div class="col-2 d-flex align-items-center gap-1">
            <label
              for=""
              class="form-label m-0 clr-primary-600 fw-semibold fs-7"
              >MR No:
            </label>
            <p class="m-0">{{ companyBasicDetails?.MRNo || "-" }}</p>
          </div>
          <div class="col-2 d-flex align-items-center gap-1">
            <label
              for=""
              class="form-label m-0 clr-primary-600 fw-semibold fs-7"
              >Card Validity:
            </label>
            <p class="m-0">{{ companyBasicDetails?.CardValidity || "-" }}</p>
          </div>
          <div class="col-2 d-flex align-items-center gap-1">
            <label
              for=""
              class="form-label m-0 clr-primary-600 fw-semibold fs-7"
              >Relation:
            </label>
            <p class="m-0">{{ companyBasicDetails?.RelationCode || "-" }}</p>
          </div>
          <div class="col-2 d-flex align-items-center gap-1">
            <label
              for=""
              class="form-label m-0 clr-primary-600 fw-semibold fs-7"
              >Grade:
            </label>
            <p class="m-0">{{ companyBasicDetails?.GradeName || "-" }}</p>
          </div>
          <div class="col-2 d-flex align-items-center gap-1">
            <label
              for=""
              class="form-label m-0 clr-primary-600 fw-semibold fs-7"
              >Insurance No:
            </label>
            <p class="m-0">{{ companyBasicDetails?.InsuranceNo || "-" }}</p>
          </div>
          <div class="col-2 d-flex align-items-center gap-1">
            <label
              for=""
              class="form-label m-0 clr-primary-600 fw-semibold fs-7"
              >Policy Valid From:
            </label>
            <p class="m-0">{{ companyBasicDetails?.VALIDFROM || "-" }}</p>
          </div>
          <div class="col-2 d-flex align-items-center gap-1">
            <label
              for=""
              class="form-label m-0 clr-primary-600 fw-semibold fs-7"
              >Policy Valid To:
            </label>
            <p class="m-0">{{ companyBasicDetails?.ValidTo || "-" }}</p>
          </div>
          <div class="col-2 d-flex align-items-center gap-1">
            <label
              for=""
              class="form-label m-0 clr-primary-600 fw-semibold fs-7"
              >Relation Code:
            </label>
            <p class="m-0">{{ companyBasicDetails?.RelationCode || "-" }}</p>
          </div>
          <div class="col-2 d-flex align-items-center gap-1">
            <label
              for=""
              class="form-label m-0 clr-primary-600 fw-semibold fs-7"
              >Ref Basis:
            </label>
            <p class="m-0">{{ companyBasicDetails?.ReferalBasisNo || "-" }}</p>
          </div>
          <div class="col-2 d-flex align-items-center gap-1">
            <label
              for=""
              class="form-label m-0 clr-primary-600 fw-semibold fs-7"
              >Contract No:
            </label>
            <p class="m-0">{{ companyBasicDetails?.ContractNo || "-" }}</p>
          </div>
          <ng-container *ngIf="companyDetails?.hospCompBasicDet?.length">
            <div class="col-12 CompanyPolicies_text">
              <label
                for=""
                class="form-label m-0 clr-primary-600 fw-semibold fs-7"
                >Company Policies</label
              >
              <div
                class="p-2 rounded border mt-1 "
                *ngFor="let option of companyDetails?.hospCompBasicDet"
              >
                <!-- <p class="m-0" [innerHTML]="option.basicCompanyrules"></p> -->
                <textarea type="text" rows="50" class="form-control resize-none" name="BasicCompanyRules" [value]="option.basicCompanyrules"></textarea>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
