<div class="d-flex gap-2 flex-column">
    <div class="d-flex align-items-center input-group w-100">
        <input type="text" class="form-control pe-2" [matAutocomplete]="employeesearch1" placeholder="" [id]="nameId"
            (keyup)="searchEmployee($event)">
        <mat-autocomplete #employeesearch1="matAutocomplete">
            <mat-option *ngFor="let item of employeeList" (onSelectionChange)="onEmployeeSelected(item)"
                [value]="item.Name">
                {{item.Name}}
            </mat-option>
        </mat-autocomplete>
        <button type="button" class="btn btn-secondary-fill btn-icon">
            <img src="assets/images/icons/icon-search.svg" alt="">
        </button>
    </div>
    <input type="text" class="form-control pe-2" disabled id="{{nameId}}_designation">
</div>