@font-face {
  font-family: 'DroidKufi-Regular';
  src: url('/assets/fonts/DroidKufi-Regular.woff2') format('woff2'),
    url('/assets/fonts/DroidKufi-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.arabic-editor {
  font-family: 'DroidKufi-Regular' !important;
  direction: rtl !important;
  text-align: right !important;
}

::ng-deep .angular-editor-textarea,
::ng-deep .angular-editor-textarea * {
  font-family: 'DroidKufi-Regular' !important;
  // direction: rtl !important;
  // text-align: right !important;
}

.ai-card {
  position: relative;
  border: 1px solid #BAD7F1;
  border-radius: 0.5rem;
  // padding: 1.25rem 1.25rem;
  // background:
  //   radial-gradient(800px 400px at -10% 0%,
  //     rgba(255, 255, 255, .75) 0%,
  //     rgba(255, 255, 255, 0) 60%),
  //   linear-gradient(135deg, #E8FDF3 0%, #FCF4FB 53%, #D9D5FC 100%);
  // box-shadow: 0 6px 18px rgba(68, 88, 170, .12),
  //   0 1px 2px rgba(30, 50, 120, .08);
  overflow: hidden;
}

.ai-card::after {
  content: "";
  position: absolute;
  inset: -20%;
  background:
    linear-gradient(135deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, .35) 48%,
      rgba(255, 255, 255, 0) 56%);
  transform: rotate(0.5deg);
  pointer-events: none;
  mix-blend-mode: screen;
}

.ai-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    radial-gradient(rgba(255, 255, 255, .35) 0.5px, transparent 0.5px);
  background-size: 6px 6px;
  opacity: .25;
  pointer-events: none;
}
.ai-card *{
 border: 0px solid #ddd !important;
}
.angular-editor[_ngcontent-ngu-c484]   .angular-editor-wrapper[_ngcontent-ngu-c484]   .angular-editor-textarea[_ngcontent-ngu-c484] {
    min-height: 5rem;
    padding: .5rem .8rem 1rem;
    border: 0px solid #ddd !important;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}
::ng-deep .angular-editor-textarea {
  border: 0px !important;
}
.angular-editor-textarea {
  border: 0px !important;
}
::ng-deep .angular-editor-textarea {
  border: 0px !important;
}


