.selected-row {
    background-color: #e2eef1;
    cursor: pointer;
}

.segment {
    height: 100%;
}

.segment-container {
    width: 200px;
    height: 6px;
    display: flex;
    position: relative;
    margin-top: 8px;
    margin-bottom: 12px;
}

.arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid black;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.start-label,
.end-label {
    position: absolute;
    top: 10px;
    font-size: 12px;
    text-align: center;
    transform: translateX(-50%);
}