.disabled {
  pointer-events: none;
  // opacity: 0.5;
}

.divdisabled input,
.divdisabled select,
.divdisabled button,
.divdisabled p,
.divdisabled span,
.divdisabled label{
  pointer-events: none;
}
.divdisabled *{
  // pointer-events: none;
}
.divdisabled .nav-pills,
.divdisabled .nav-pills * {
  pointer-events: auto !important;


}