.image-container {
    position: relative;
    width: 325px;
  }
  
  .marker {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: red; /* You can customize the marker style here */
    border-radius: 50%;
  }

  .input-with-delete {
    position: relative;
    display: flex;

  }
  .body_img{
    width: 100%;
  }
  .delete-icon {
    // position: absolute;
    // right: 5px;
    // top: 50%;
    transform: translate(-6px, -9px);
    cursor: pointer;
  }
  .count{
    line-height: 1;
    font-size: 0.675rem;
    color: #fff;
  }