<div class="card card-style-1 rounded main-container" #divbdc>
    <div class="card-header rounded-top justify-content-between" style="height: 3rem;">
        <h2 class="card-heading">Babies Data</h2>
        <div class="actions generalConsent_popup position-relative ms-auto d-flex align-items-center gap-2" *ngIf="IsView">
            <app-template-block [patientTemplatedetailID]="PatientTemplatedetailID" [viewTemplatesList]="FetchPatienClinicalTemplateDetailsNList"></app-template-block>
            <button class="btn btn-main-outline" (click)="viewWorklist()">View</button>
        </div>
    </div>
   

<div class="p-2 template_scroll" id="divscroll">
    <!-- <app-wardheader-summary></app-wardheader-summary> -->
    <div class="row g-2"  *ngIf="showContent">
        <div class="col-3">
            <label for="" class="form-label">Name of Mother</label>
            <input type="text" id="textbox_MotherName" class="form-control">
        </div>
        <div class="col-3">
            <label for="" class="form-label">Room Number</label>
            <input type="text" id="textbox_RoomNumber" class="form-control">
        </div>
        <div class="col-3">
            <label for="" class="form-label">Physician</label>
            <input type="text" id="textbox_Physician" class="form-control">
        </div>
        <div class="col-3">
            <label for="" class="form-label">Parity</label>
            <input type="text" id="textbox_Parity" class="form-control">
        </div>
        <div class="col-3">
            <label for="" class="form-label">LMP</label>
            <input type="text" id="textbox_LMP" class="form-control">
        </div>
        <div class="col-3">
            <label for="" class="form-label">EDC</label>
            <input type="text" id="textbox_EDC" class="form-control">
        </div>
        <div class="col-3">
            <label for="" class="form-label">Maternal Blood Group</label>
            <input type="text" id="textbox_MaternalBloodGroup" class="form-control">
        </div>
        <div class="col-3">
            <label for="" class="form-label">Age of Gestation</label>
            <input type="text" id="textbox_GestationAge" class="form-control">
        </div>
        <div class="col-3">
            <label for="" class="form-label">Date of Birth</label>
            <input type="text" id="textbox_DOB" class="form-control">
        </div>
        <div class="col-3">
            <label for="" class="form-label">Sex</label>
            <input type="text" id="textbox_Sex" class="form-control">
        </div>
        <div class="col-3">
            <label for="" class="form-label">Apgar Score</label>
            <input type="text" id="textbox_ApgarScore" class="form-control">
        </div>
        <div class="col-3">
            <label for="" class="form-label">Weight</label>
            <input type="text" id="textbox_Weight" class="form-control">
        </div>
        <div class="col-3">
            <label for="" class="form-label">Temperature</label>
            <input type="text" id="textbox_Temperature" class="form-control">
        </div>
        <div class="col-3">
            <label for="" class="form-label">Measurement</label>
            <input type="text" id="textbox_Measurement" class="form-control">
        </div>
        <div class="col-3">
            <label for="" class="form-label">Head</label>
            <input type="text" id="textbox_Head" class="form-control">
        </div>
        <div class="col-3">
            <label for="" class="form-label">Chest</label>
            <input type="text" id="textbox_Chest" class="form-control">
        </div>
        <div class="col-3">
            <label for="" class="form-label">Length</label>
            <input type="text" id="textbox_Length" class="form-control">
        </div>
        <div class="col-3">
            <label for="" class="form-label">Heart Rate</label>
            <input type="text" id="textbox_HeartRate" class="form-control">
        </div>
        <div class="col-3">
            <label for="" class="form-label">Respiratory Rate</label>
            <input type="text" id="textbox_RespiratoryRate" class="form-control">
        </div>
        <div class="col-3">
            <label for="" class="form-label">Medication Given Konakion</label>
            <input type="text" id="textbox_GivenMedication" class="form-control">
        </div>
        <div class="col-3">
            <label for="" class="form-label">Placenta</label>
            <input type="text" id="textbox_Placenta" class="form-control">
        </div>
        <div class="col-3">
            <label for="" class="form-label">Description</label>
            <input type="text" id="textbox_Description" class="form-control">
        </div>
        <div class="col-3">
            <label for="" class="form-label">CCRD Vessels</label>
            <input type="text" id="textbox_CCRD" class="form-control">
        </div>
    </div>
</div>
</div>
<app-sharedtemplateview [FetchPatienClinicalTemplateDetailsNList]="FetchPatienClinicalTemplateDetailsNList"
      [selectedTemplateFn]="selectedTemplate.bind(this)">
   </app-sharedtemplateview>


<!-- <div class="modal" id="savedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width:60%">
       <div class="modal-content">
          <div class="modal-header p-2">
             <h5 class="modal-title clr-primary-600 fs-6" translate>Templates</h5>
             <div class="d-flex align-items-center gap-2">
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"></button>
                </div>
          </div>
          <div class="modal-body p-3">
             <div class="table-cards_div text-start d-flex mx-0 mt-0 g-2 p-2 position-relative"
                *ngFor="let tem of FetchPatienClinicalTemplateDetailsNList;let i=index">
                <div class="row mx-0 g-2 w-100">
                   <div class="col-lg col-md-4 col-12">
                      <p class="label">Template ID</p>
                      <p><a href="#" (click)="$event.preventDefault();selectedTemplate(tem)">{{
                            tem.PatientTemplatedetailID }}</a></p>
                   </div>
                   <div class="col-lg col-md-4 col-12">
                      <p class="label">Name</p>
                      <p>{{ tem.PatientName }}</p>
                   </div>
 
                   <div class="col-lg col-md-4 col-12">
                      <p class="label">DoctorName</p>
                      <p>{{ tem.Consultant }}</p>
                   </div>
                   <div class="col-lg col-md-4 col-12">
                      <p class="label">Created By</p>
                      <p>{{ tem.CreatedBy }}</p>
                   </div>
                   <div class="col-lg col-md-4 col-12">
                      <p class="label">Date</p>
                      <p>{{ tem.Createdate | date: 'dd-MMM-yyyy' }}</p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>

 <div class="modal" id="saveMsg" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-toast modal-toast-success">
        <div class="modal-content">
            <img class="modal-header-icon" src="assets/images/icons/toast-success.svg" alt="">
            <div class="modal-body">
                <p>Saved successfully</p>
                <div class="modal-footer">
                    <a href="javascript:void(0)" type="button" class="btn btn-main-outline"
                        data-bs-dismiss="modal">Ok</a>
                </div>
            </div>
        </div>
    </div>
 </div> -->