.arCompStatementData_table .ngx-datatable.material {
  box-shadow: unset !important;
}
.arCompStatementData_table .datatable-header-cell-label {
  color: #368796 !important;
}
.arCompStatementData_table .ngx-datatable * {
  white-space: normal;
  line-height: 1.3;
}
.arCompStatementData_table
  .ngx-datatable.material
  .datatable-header
  .datatable-header-cell {
  padding: 0.4rem 0.5rem;
}
.arCompStatementData_table
  .ngx-datatable.material
  .datatable-body
  .datatable-body-row
  .datatable-body-cell {
  padding: 0.4rem 0;
  font-size: 0.75rem;
  height: unset !important;
  width: 100% !important;
}
.arCompStatementData_table .datatable-scroll .datatable-body-row {
  height: unset !important;
  width: unset !important;
}

.notBilledSection {
    height: calc(100vh - 12rem);
    overflow: auto;
}
.notBilledSection .datatable-group-header{
  background: unset !important;
  border: unset !important;
}
.notBilledSection .datatable-scroll{
  padding: 0.5rem 0;
}
.notBilledSection .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell{
  padding: 0.2rem 0;
}
.notBilledSection .doc_card{
  margin-bottom: 0.5rem;
}

.my-custom-table .datatable-row-wrapper {
  border: 1px solid #43a9bc !important;
  margin-bottom: 2px !important;
  border-radius: 7px !important;
}

.notbilled_legends span {
  display: block;
  border-radius: 50%;
  width: 0.9rem;
  height: 0.9rem;
}
.notbilled_legends span.statlegend {
  background-color: #e30000;
}
.notbilled_legends span.dischargelegend {
  background-color: #ff9637;
}

.notbilled_legends span.normallegend {
  background-color: green;
}
