<div class="card card-style-1 rounded main-container">
    <div class="card-header rounded-top justify-content-between" style="height: 3rem;">
        <h2 class="card-heading">Criteria and Medical Conditions Requiring Preoperative Evaluation Before Surgery</h2>
        <div class="actions generalConsent_popup position-relative d-flex align-items-center gap-2" *ngIf="IsView">
            <button class="btn btn-main-outline" (click)="viewWorklist()">View</button>
        </div>
    </div>

    <div class="p-3" #divcmcrp *ngIf="showContent">
        <div class="mt-3">
            <div class="row g-2">
                <div class="col-4">
                    <div class="card card-style-1 h-100">
                        <div class="card-header justify-content-start">
                            <h5 class="card-heading">General</h5>
                        </div>
                        <div class="p-3">
                            <div class="row g-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Age ≥ 60 years</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_Age">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2 mt-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Normal activity inhibited</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_NormalActivity">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2 mt-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Obesity (BMI >40kg/㎡)</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_Obesity">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2 mt-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Gross Facial configuration</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_GrossFacial">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card card-style-1 h-100">
                        <div class="card-header justify-content-start">
                            <h5 class="card-heading">Anaesthesia Related</h5>
                        </div>
                        <div class="p-3">
                            <div class="row g-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Previous difficult intubation</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_PreviousIncubation">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2 mt-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Any anesthesia complication</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_AnesthesiaComplication">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2 mt-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Patient frightened of anaesthesia</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_PatientFrightened">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card card-style-1 h-100">
                        <div class="card-header justify-content-start">
                            <h5 class="card-heading">vascular</h5>
                        </div>
                        <div class="p-3">
                            <div class="row g-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Ischemic Heart Disease</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_IschemicHeartDisease">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2 mt-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Heart Failure</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_HeartFailure">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2 mt-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Arrhythmias(e.g. AF)</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_Arrhythmias">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2 mt-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Uncontrolled Hypertension</label>
                                    <label for="" class="form-label">. SBP > 160 mmhg or</label>
                                    <label for="" class="form-label">. DBP > 100 mmhg</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_Hypertension">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card card-style-1 h-100">
                        <div class="card-header justify-content-start">
                            <h5 class="card-heading">Procedure Related</h5>
                        </div>
                        <div class="p-3">
                            <div class="row g-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Intraoperative blood transfusion likely</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_BloodTransfusion">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2 mt-2">
                                <div class="col-9">
                                    <label for="" class="form-label">ICU admission likely</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_ICUAdmission">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2 mt-2">
                                <div class="col-9">
                                    <label for="" class="form-label">High-risk surgery</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_HighRiskSurgery">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card card-style-1 h-100">
                        <div class="card-header justify-content-start">
                            <h5 class="card-heading">Respiratory</h5>
                        </div>
                        <div class="p-3">
                            <div class="row g-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Asthama</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_Asthama">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2 mt-2">
                                <div class="col-9">
                                    <label for="" class="form-label">COPD</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_COPD">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2 mt-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Previous airway surgery</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_PreviousAirway">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2 mt-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Unusual airway anatomy</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_UnusualAirway">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2 mt-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Airway tumor/obstruction</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_AirwayTumor">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card card-style-1 h-100">
                        <div class="card-header justify-content-start">
                            <h5 class="card-heading">Drugs</h5>
                        </div>
                        <div class="p-3">
                            <div class="row g-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Anticoagulation</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_Anticoagulation">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2 mt-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Herbal medication</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_HerbalMedication">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card card-style-1 h-100">
                        <div class="card-header justify-content-start">
                            <h5 class="card-heading">Endocrine</h5>
                        </div>
                        <div class="p-3">
                            <div class="row g-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Diabetes requiring insulin</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_Insulin">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2 mt-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Diabetes requiring insulin</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_Insulin2">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2 mt-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Adrenal disorders</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_AdrenalDisorders">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2 mt-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Active thyroid disesase</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_ActiveThroid">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card card-style-1 h-100">
                        <div class="card-header justify-content-start">
                            <h5 class="card-heading">Pregnancy</h5>
                        </div>
                        <div class="p-3">
                            <div class="row g-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Patient is pregnant(unless the procedure is
                                        termination)</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_PatientPregnant">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card card-style-1 h-100">
                        <div class="card-header justify-content-start">
                            <h5 class="card-heading">Print miss</h5>
                        </div>
                        <div class="p-3">
                            <div class="row g-2 mt-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Epilepsy,Seizure disorder</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_Epilepsy">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2 mt-2">
                                <div class="col-9">
                                    <label for="" class="form-label">CNS disease(e.g. multiple sclerosis)</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_CNS">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2 mt-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Previous CNS surgery</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_PreviousCNS">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2 mt-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Myopathy/other muscle disorders</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_Myopathy">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card card-style-1 h-100">
                        <div class="card-header justify-content-start">
                            <h5 class="card-heading">Hepatic</h5>
                        </div>
                        <div class="p-3">
                            <div class="row g-2 mt-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Active hepatobiliary disease or compromise</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_Hepatobiliary">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)"> No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card card-style-1 h-100">
                        <div class="card-header justify-content-start">
                            <h5 class="card-heading">Renal</h5>
                        </div>
                        <div class="p-3">
                            <div class="row g-2 mt-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Renal insufficiency or failure</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_RenalFailure">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card card-style-1 h-100">
                        <div class="card-header justify-content-start">
                            <h5 class="card-heading">Musculoskeletal</h5>
                        </div>
                        <div class="p-3">
                            <div class="row g-2 mt-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Kyphosis or scoliosis</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_Kyphosis">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2 mt-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Temporomandibular joint disorder limiting mouth
                                        opening</label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_JointDisorder">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2 mt-2">
                                <div class="col-9">
                                    <label for="" class="form-label">Cervical or thoracic spine injury/disease </label>
                                </div>
                                <div class="col-3 text-end">
                                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex"
                                        id="btnToggle_CerivicalInjury">
                                        <button class="btn selected" (click)="toggleSelection($event)">Yes</button>
                                        <button class="btn" (click)="toggleSelection($event)">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <p class="fw-bold fs-7 mb-2">Surgeons shall:</p>
                <p class="mb-2 fs-7">1. Fill-out this for patients requiring surgical procedures under general or local
                    anaethesia.</p>
                <p class="mb-2 fs-7">2. Refer the patient to anaesthesia clinic only if one or more of the above
                    mentioned criteria/medical conditions.</p>
                <p class="mb-2 fs-7">3. If the pateint has none of these criteria, pre-anaesthesia evaluation will be
                    done after admission.</p>
            </div>
        </div>
    </div>

</div>



<div class="modal" id="saveMsg" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-toast modal-toast-success">
        <div class="modal-content">
            <img class="modal-header-icon" src="assets/images/icons/toast-success.svg" alt="">
            <div class="modal-body">
                <p>Saved successfully</p>
                <div class="modal-footer">
                    <a href="javascript:void(0)" type="button" class="btn btn-main-outline"
                        data-bs-dismiss="modal">Ok</a>
                </div>
            </div>
        </div>
    </div>
 </div>
 
 <div class="modal" id="savedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width:60%">
       <div class="modal-content">
          <div class="modal-header p-2">
             <h5 class="modal-title clr-primary-600 fs-6" translate>Assessments</h5>
             <div class="d-flex align-items-center gap-2">
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"></button>
                </div>
          </div>
          <div class="modal-body p-3">
             <div class="table-cards_div text-start d-flex mx-0 mt-0 g-2 p-2 position-relative"
                *ngFor="let tem of FetchPatienClinicalTemplateDetailsNList;let i=index">
                <div class="row mx-0 g-2 w-100">
                   <div class="col-lg col-md-4 col-12">
                      <p class="label">Template ID</p>
                      <p><a href="#" (click)="$event.preventDefault();selectedTemplate(tem)">{{
                            tem.PatientTemplatedetailID }}</a></p>
                   </div>
                   <div class="col-lg col-md-4 col-12">
                      <p class="label">Name</p>
                      <p>{{ tem.PatientName }}</p>
                   </div>
 
                   <div class="col-lg col-md-4 col-12">
                      <p class="label">DoctorName</p>
                      <p>{{ tem.Consultant }}</p>
                   </div>
                   <div class="col-lg col-md-4 col-12">
                      <p class="label">Created By</p>
                      <p>{{ tem.CreatedBy }}</p>
                   </div>
                   <div class="col-lg col-md-4 col-12">
                      <p class="label">Date</p>
                      <p>{{ tem.Createdate | date: 'dd-MMM-yyyy' }}</p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>