<div class="modal eformView_table" id="savedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" style="max-width:80%">
      <div class="modal-content">
         <div class="modal-header p-2">
            <h5 class="modal-title clr-primary-600 fs-6" translate>Templates</h5>
            <div class="d-flex align-items-center gap-2">
               <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"></button>
            </div>
         </div>
         <div class="modal-body p-2">
            <!-- <div class="table-cards_div text-start d-flex mx-0 mt-0 g-2 p-2 position-relative"
                *ngFor="let tem of FetchPatienClinicalTemplateDetailsNList;let i=index">
                <div class="row mx-0 g-2 w-100">
                   <div class="col-lg col-md-4 col-12">
                      <p class="label">Template ID</p>
                      <p><a href="#" (click)="$event.preventDefault();selectedTemplate(tem)">{{
                            tem.PatientTemplatedetailID }}</a>
                        <label *ngIf="!tem.edit">Editing is restricted due to time limitations; only viewing is allowed.</label></p>
                   </div>
                   <div class="col-lg col-md-4 col-12">
                      <p class="label">Name</p>
                      <p>{{ tem.PatientName }}</p>
                   </div>
 
                   <div class="col-lg col-md-4 col-12">
                      <p class="label">DoctorName</p>
                      <p>{{ tem.Consultant }}</p>
                   </div>
                   <div class="col-lg col-md-4 col-12">
                      <p class="label">Created By</p>
                      <p>{{ tem.CreatedBy }}</p>
                   </div>
                   <div class="col-lg col-md-4 col-12">
                      <p class="label">Date</p>
                      <p>{{ tem.Createdate | date: 'dd-MMM-yyyy' }}</p>
                   </div>
                </div>
             </div> -->

            <div class="fixed_alter_list rounded border-primary-200">
               <div class="fixed_alter_header bg-primary-50 p-1 rounded-top">
                  <div class="row gx-2 py-1 mx-0">
                     <div class="col-2" style="width: 10%;">
                        <p class="label m-0">Template ID</p>
                     </div>
                     <div class="col-3">
                        <p class="label m-0">Name</p>
                     </div>
                     <div class="col-3" style="width: 15%;">
                        <p class="label m-0">Doctor Name</p>
                     </div>
                     <div class="col-2" style="width: 15%;">
                        <p class="label m-0">Created By</p>
                     </div>
                     <div class="col-2" style="width: 14%;">
                        <p class="label m-0">Date</p>
                     </div>
                     <div class="col-2" style="width: 10%;">
                        <p class="label m-0">Blocked By</p>
                     </div>
                     <div class="col-2" style="width: 10%;">
                        <p class="label m-0">Blocked Date</p>
                     </div>
                  </div>
               </div>
               <div class="fixed_alter_body p-1 d-flex flex-column gap-1">
                  <div class="border-bottom"
                     *ngFor="let tem of FetchPatienClinicalTemplateDetailsNList;let i=index">
                     <div class="row gx-2 pt-1 mx-0 alter_div rounded-0">
                        <div class="col-2" style="width: 10%;">
                           <p class="m-0">
                              <a href="#" (click)="$event.preventDefault();selectedTemplate(tem)">{{
                                 tem.PatientTemplatedetailID }}</a>
                           </p>
                        </div>
                        <div class="col-3">
                           <p class="m-0">{{ tem.PatientName }}</p>
                        </div>
                        <div class="col-3" style="width: 15%;">
                           <p class="m-0">{{ tem.Consultant }}</p>
                        </div>
                        <div class="col-2" style="width: 15%;">
                           <p class="m-0">{{ tem.CreatedBy }}</p>
                        </div>
                        <div class="col-2" style="width: 14%;">
                           <p class="m-0">{{ tem.Createdate }}</p>
                        </div>
                        <div class="col-2" style="width: 10%;">
                           <p class="label m-0">{{tem.CancelledByName}}</p>
                       </div>
                       <div class="col-2" style="width: 10%;">
                           <p class="label m-0">{{tem.BlockedDate}}</p>
                       </div>
                       <div class="col-12 bg-grey-50 p-1 mt-1" *ngIf="tem.ClinicalTemplateID=='141'">
                             <div class="d-flex gap-2">
                              <p class="fw-bold">Procedure:</p>
                              <p class="fw-semibold" style="color: chocolate;">{{ tem.MedicalHistory }}</p>
                           </div>
                       </div>
                     </div>
                     <div class="bg-grey-50 px-1" *ngIf="!tem.edit">
                        <label class="form-label m-0">Editing is restricted due to time limitations; only viewing is
                           allowed.</label>
                     </div>
                  </div>
               </div>
            </div>

         </div>
      </div>
   </div>
</div>

<div class="modal" id="saveMsg" tabindex="-1">
   <div class="modal-dialog modal-dialog-centered modal-toast modal-toast-success">
      <div class="modal-content">
         <img class="modal-header-icon" src="assets/images/icons/toast-success.svg" alt="">
         <div class="modal-body">
            <p>Saved successfully</p>
            <div class="modal-footer">
               <a href="javascript:void(0)" type="button" class="btn btn-main-outline" (click)="onOkClick()">Ok</a>
            </div>
         </div>
      </div>
   </div>
</div>