<div class="d-flex align-items-center select_time">
    <select [id]="id ? id + '-hours' : null" [disabled]="disabled" class="form-select" [(ngModel)]="selectedHour" (change)="onTimeChange()">
      <option *ngFor="let hour of hoursArray" [value]="hour">{{ formatWithLeadingZero(hour) }}</option>
    </select>
    
    <select [id]="id ? id + '-minutes' : null" [disabled]="disabled" class="form-select" [(ngModel)]="selectedMinute" (change)="onTimeChange()">
      <option *ngFor="let minute of minutesArray" [value]="minute">{{ formatWithLeadingZero(minute) }}</option>
    </select>
  </div>
  