
<!-- <div class="card card-style-1 rounded main-container" #diverf >
    <div class="card-header rounded-top justify-content-between" style="height: 3rem;">
        <h2 class="card-heading">Electronic Respiratory Form </h2>
        <div class="actions generalConsent_popup position-relative ms-auto d-flex align-items-center gap-2" *ngIf="IsView">
            <button class="btn btn-main-outline" (click)="viewWorklist()">View</button>
        </div>
    </div> -->

    <div class="" *ngIf="showContent" id="divscroll">
        <!-- <div class="">
            <div class="row g-2">
                <div class="col-2">
                    <label for="" class="form-label">Patient ID</label>
                    <input type="text" id="textbox_SSN" class="form-control">
                </div>
                <div class="col-2">
                    <label for="" class="form-label">IBW</label>
                    <div class="d-flex align-items-center afterlabel">
                        <input type="text" name="" class="form-control pe-6" id="textbox_IBW">
                        <label for="" class="form-label label_sm">KG</label>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="mt-2 card card-style-1 rounded">
            <div class="card-header justify-content-start rounded-top py-2 min-height-unset rounded-top">
                <h5 class="card-heading">Ventilatory Flow Sheet</h5>
            </div>
            <div class="p-2">
                <div class="row g-2">
                    <div class="col-2">
                        <label for="" class="form-label">Mode</label>
                        <input type="text" id="textbox_Mode" class="form-control">
                    </div>
                    <div class="col-2">
                        <label for="" class="form-label">FiO2</label>
                        <input type="text" id="textbox_FiO2" class="form-control">
                    </div>
                    <div class="col-2">
                        <label for="" class="form-label">RR set  </label>
                        <input type="text" id="textbox_RRset" class="form-control">
                    </div>
                    <div class="col-2">
                        <label for="" class="form-label">RR total</label>
                        <input type="text" id="textbox_RRtotal" class="form-control">
                    </div>
                    <div class="col-2">
                        <label for="" class="form-label">Vt Set</label>
                        <input type="text" id="textbox_VtSet" class="form-control">
                    </div>
                    <div class="col-2">
                        <label for="" class="form-label">VTe</label>
                        <input type="text" id="textbox_VTe" class="form-control">
                    </div>
                    <div class="col-2">
                        <label for="" class="form-label">PC</label>
                        <input type="text" id="textbox_PC" class="form-control">
                    </div>
                    <div class="col-2">
                        <label for="" class="form-label">PEEP</label>
                        <input type="text" id="textbox_PEEP" class="form-control">
                    </div>
                    <div class="col-2">
                        <label for="" class="form-label">MV</label>
                        <input type="text" id="textbox_MV" class="form-control">
                    </div>
                    <div class="col-2">
                        <label for="" class="form-label">MAP</label>
                        <input type="text" id="textbox_MAP" class="form-control">
                    </div>
                    <div class="col-2">
                        <label for="" class="form-label">PS</label>
                        <input type="text" id="textbox_PS" class="form-control">
                    </div>
                    <div class="col-2">
                        <label for="" class="form-label">TI</label>
                        <input type="text" id="textbox_TI" class="form-control">
                    </div>
                    <div class="col-2">
                        <label for="" class="form-label">PIP</label>
                        <input type="text" id="textbox_PIP" class="form-control">
                    </div>
                    <div class="col-2">
                        <label for="" class="form-label">PPLAT</label>
                        <input type="text" id="textbox_PPLAT1" class="form-control">
                    </div>
                    <div class="col-2">
                        <label for="" class="form-label">Sensitivity</label>
                        <input type="text" id="textbox_PPLAT2" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2 card card-style-1 rounded mt-2">
            <div class="card-header justify-content-start rounded-top py-2 min-height-unset rounded-top">
                <h5 class="card-heading">Alarm Limits</h5>
            </div>
            <div class="p-2">
                <div class="row g-2">
                    <div class="col-2">
                        <label for="" class="form-label">PIP</label>
                        <select name="" class="form-select" id="ddl_1" >
                            <option value="0">Select</option>
                            <option value="1">High</option>
                            <option value="2">Low</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label for="" class="form-label">RR High/Low</label>
                        <!-- <input type="text" id="textbox_AlarmLimitsRRHighLow" class="form-control"> -->
                        <select name="" class="form-select" id="ddl_2" >
                            <option value="0">Select</option>
                            <option value="1">High</option>
                            <option value="2">Low</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label for="" class="form-label">MV </label>
                        <select name="" class="form-select" id="ddl_3" >
                            <option value="0">Select</option>
                            <option value="1">High</option>
                            <option value="2">Low</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2 card card-style-1 rounded mt-2">
            <div class="card-header justify-content-start rounded-top py-2 min-height-unset rounded-top">
                <h5 class="card-heading">HFOV</h5>
            </div>
            <div class="p-2">
                <div class="row g-2">
                    <div class="col-2">
                        <label for="" class="form-label">Hz</label>
                        <input type="text" id="textbox_HFOVHz" class="form-control">
                    </div>
                    <div class="col-2">
                        <label for="" class="form-label">MAP</label>
                        <input type="text" id="textbox_HFOVMAP" class="form-control">
                    </div>
                    <div class="col-2">
                        <label for="" class="form-label">FiO2 </label>
                        <input type="text" id="textbox_HFOVFiO2" class="form-control">
                    </div>
                    <div class="col-2">
                        <label for="" class="form-label">Ti</label>
                        <input type="text" id="textbox_HFOVTi" class="form-control">
                    </div>
                    <div class="col-2">
                        <label for="" class="form-label">AMP</label>
                        <input type="text" id="textbox_HFOVAMP" class="form-control">
                    </div>
                    <div class="col-2">
                        <label for="" class="form-label">FLOW</label>
                        <input type="text" id="textbox_HFOVFLOW" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2 card card-style-1 rounded mt-2">
            <div class="card-header justify-content-start rounded-top py-2 min-height-unset rounded-top">
                <h5 class="card-heading">Nitric Oxide</h5>
            </div>
            <div class="p-2">
                <div class="row g-2">
                    <div class="col-2">
                        <label for="" class="form-label">Dose</label>
                        <input type="text" id="textbox_NitricOxideDose" class="form-control">
                    </div>
                    <div class="col-2">
                        <label for="" class="form-label">Pressure</label>
                        <input type="text" id="textbox_NitricOxidePressure" class="form-control">
                    </div>
                    <div class="col-2">
                        <label for="" class="form-label">Flow </label>
                        <input type="text" id="textbox_NitricOxideFlow" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-2 mt-2">
            <div class="col-6">
                <div class=" card card-style-1 rounded ">
                    <div class="card-header justify-content-start rounded-top py-2 min-height-unset rounded-top">
                        <h5 class="card-heading">Plan Of Care</h5>
                    </div>
                    <div class="p-2">
                        <!-- <textarea name="" class="form-control" id="textarea_PlanOfCare" cols="30" rows="5"></textarea> -->
                        <!-- <div class="textarea_box p-2 rounded-2 bg-transparent border" contenteditable="true"></div> -->
                        <span class="textarea_box p-2 rounded-2 border bg-transparent d-block w-100" id="textarea_PlanOfCare" contenteditable="true"></span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class=" card card-style-1 rounded ">
                    <div class="card-header justify-content-start rounded-top py-2 min-height-unset rounded-top">
                        <h5 class="card-heading">Assessment / Notes</h5>
                    </div>
                    <div class="p-2">
                        <!-- <div class="textarea_box p-2 rounded-2 bg-transparent border" id="textarea_AssessmentNotes" contenteditable="true"> -->
                            <span class="textarea_box p-2 rounded-2 border bg-transparent d-block w-100" id="textarea_AssessmentNotes" contenteditable="true"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-12">
            <div class="row g-2">
                <div class="col-3">
                    <label for="" class="form-label">Respiratory Therapist</label>
                    <div class="d-flex align-items-center input-group w-100">
                        <input id="text_Witness_Name_2" type="text" placeholder="search"
                            class="form-control pe-2" aria-label="Search"
                            [matAutocomplete]="witness2"
                            (keyup)="($event.key === 'ArrowUp' || $event.key === 'ArrowDown') ? $event.preventDefault() : onSearchDoctorsAll($event)">
                        <mat-autocomplete #witness2="matAutocomplete">
                            <mat-option *ngFor="let item of doctorsList"
                                (onSelectionChange)="onDoctorSelect(item, 'text_WitnessCode2')"
                                [value]="item.Name">
                                {{item.Name}}
                            </mat-option>
                        </mat-autocomplete>
                        <button type="button" id="button-addon2"
                            class="btn btn-secondary-fill btn-icon">
                            <img src="assets/images/icons/icon-search.svg" alt="">
                        </button>
                    </div>
                </div>
                <div class="col-2">
                    <label for="" class="form-label">Date</label>
                    <mat-form-field appearance="fill">
                        <mat-label translate>dd-MMM-yyyy</mat-label>
                        <input matInput class="" #patientdate id="textbox_patientdate" [matDatepicker]="date" (click)="date.open()" [min]="minDate">
                        <mat-datepicker-toggle matSuffix [for]="date">
                        </mat-datepicker-toggle>
                        <mat-datepicker #date></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <label for="" class="form-label">Time</label>
                    <app-time-selector [hours]="getHours('textbox_generic_time1')" [minutes]="getMinutes('textbox_generic_time1')" (timeSelected)="onTimeChange($event, 'textbox_generic_time1')" [disabled]="isTimeSelectorDisable('textbox_generic_time1')"></app-time-selector>
                </div>
            </div>
        </div> -->
    </div>
<!-- </div> -->

<app-sharedtemplateview [FetchPatienClinicalTemplateDetailsNList]="FetchPatienClinicalTemplateDetailsNList"
      [selectedTemplateFn]="selectedTemplate.bind(this)">
   </app-sharedtemplateview>


<!-- <div class="modal" id="saveMsg" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-toast modal-toast-success">
        <div class="modal-content">
            <img class="modal-header-icon" src="assets/images/icons/toast-success.svg" alt="">
            <div class="modal-body">
                <p>Saved successfully</p>
                <div class="modal-footer">
                    <a href="javascript:void(0)" type="button" class="btn btn-main-outline"
                        data-bs-dismiss="modal">Ok</a>
                </div>
            </div>
        </div>
    </div>
 </div>
 
 <div class="modal" id="savedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width:60%">
       <div class="modal-content">
          <div class="modal-header p-2">
             <h5 class="modal-title clr-primary-600 fs-6" translate>Assessments</h5>
             <div class="d-flex align-items-center gap-2">
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"></button>
                </div>
          </div>
          <div class="modal-body p-3">
             <div class="table-cards_div text-start d-flex mx-0 mt-0 g-2 p-2 position-relative"
                *ngFor="let tem of FetchPatienClinicalTemplateDetailsNList;let i=index">
                <div class="row mx-0 g-2 w-100">
                   <div class="col-lg col-md-4 col-12">
                      <p class="label">Template ID</p>
                      <p><a href="#" (click)="$event.preventDefault();selectedTemplate(tem)">{{
                            tem.PatientTemplatedetailID }}</a></p>
                   </div>
                   <div class="col-lg col-md-4 col-12">
                      <p class="label">Name</p>
                      <p>{{ tem.PatientName }}</p>
                   </div>
 
                   <div class="col-lg col-md-4 col-12">
                      <p class="label">DoctorName</p>
                      <p>{{ tem.Consultant }}</p>
                   </div>
                   <div class="col-lg col-md-4 col-12">
                      <p class="label">Created By</p>
                      <p>{{ tem.CreatedBy }}</p>
                   </div>
                   <div class="col-lg col-md-4 col-12">
                      <p class="label">Date</p>
                      <p>{{ tem.Createdate | date: 'dd-MMM-yyyy' }}</p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div> -->