.image-container {
    position: relative;
    width: 323px;
  }
  

.marker {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: red; /* You can customize the marker style here */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.55rem;
  }
  .body_img{
    width: 100%;
  }
  .count{
    line-height: 1;
    font-size: 0.675rem;
    color: #fff;
  }