::ng-deep .datatable-header {
  background-color: #43a9bc;
  color: white; /* Optional: to change the text color to white */
}

::ng-deep .is-discharge-medication {
  background-color: #ffbf00 !important;
}

::ng-deep .ar-op-bill-insert {
  background-color: #ff80c0 !important;
}

::ng-deep .ar-op-bill-modify {
  background-color: #ff8080 !important;
}
