.emergency-section {
    background-color: red;   
    color: white;             
}

.emergency-section h6 {
    color: white !important;           
}

.emergency-section p {
    color: white;             
}