.ssrsReports_page .pat_lefnav .navlinks_height {
    height: calc(100vh - 11.5rem);
    overflow: auto;
}

.ssrsReports_page .pat_lefnav .navlinks_height::-webkit-scrollbar {
    width: 0;
}

.ssrsReports_page .pat_rightcont_body {
    height: calc(100vh - 20rem);
    overflow: auto;
}

.ssrsReports_page .pat_rightcont_body::-webkit-scrollbar {
    width: 0;
}

.ssrsReports_page .pat_lefnav .navbutton {
    border: 1px solid #cacdce;
    background: linear-gradient(#f3f3f3, #ffffff);
    padding: 0.475rem 0.675rem;
    cursor: pointer;
}

.ssrsReports_page .pat_lefnav .navbutton:hover,
.ssrsReports_page .pat_lefnav .navbutton.active {
    border: 1px solid #b4dde4;
    background: linear-gradient(#b7d7dd, #ffffff);
}

.ssrsReports_page .pat_lefnav .navbutton p {
    color: #3d3d3d;
}

.ssrsReports_page .pat_rightcontent {
    height: calc(100vh - 8.4rem);
    overflow: auto;
}

.ssrsReports_page .pat_rightcontent::-webkit-scrollbar {
    width: 0;
}