<div class="card card-style-1 rounded main-container" #divnaif>
    <div class="card-header rounded-top justify-content-between" style="height: 3rem;">
        <h2 class="card-heading">Electronic Operative Note </h2>
        <div class="actions generalConsent_popup position-relative ms-auto d-flex align-items-center gap-2" *ngIf="IsView">
            <button class="btn btn-main-outline" (click)="viewWorklist()">View</button>
        </div>
    </div>
  


<div class="p-3 template_scroll" *ngIf="showContent" id="divscroll">
    <!-- <app-wardheader-summary></app-wardheader-summary> -->

    
    <div class="">

        <div class="">
            <table class="table m-0">
                <tbody>
                    <tr>
                        <th style="width:25%;" class="fw-bold">Admission date to unit:</th>
                        <td><input type="text" id="textbox_Admissiondatetounit" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Admission to ICU VIA:</th>
                        <td><input type="text" id="textbox_AdmissiontoICUVIA" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Mechanical Ventilation</th>
                        <td><input type="text" id="textbox_MechanicalVentilation" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Is on respirators</th>
                        <td><input type="text" id="textbox_Isonrespirators" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Previous Surgeries</th>
                        <td><input type="text" id="textbox_PreviousSurgeries" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Comorbilities</th>
                        <td><input type="text" id="textbox_Comorbilities" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Ecmo</th>
                        <td><input type="text" id="textbox_Ecmo" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Blood type</th>
                        <td><input type="text" id="textbox_Bloodtype" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Awareness Level</th>
                        <td><input type="text" id="textbox_AwarenessLevel" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>APGAR Score</th>
                        <td><input type="text" id="textbox_APGARScore" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Plasmapheresis</th>
                        <td><input type="text" id="textbox_Plasmapheresis" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Renal replacement theraphy</th>
                        <td><input type="text" id="textbox_Renalreplacementtheraphy" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Doctor on Duty</th>
                        <td><input type="text" id="textbox_DoctoronDuty" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Manager name</th>
                        <td><input type="text" id="textbox_Managername" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Communicable Diseases</th>
                        <td><input type="text" id="textbox_CommunicableDiseases" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>DNR Status</th>
                        <td><input type="text" id="textbox_DNRStatus" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Sedation</th>
                        <td><input type="text" id="textbox_Sedation" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>In on narcotics hypnotics</th>
                        <td><input type="text" id="textbox_narcoticshypnotics" class="form-control"></td>
                    </tr>
                </tbody>
            </table>

            <table class="table m-0 mt-3">
                <tbody>
                    <tr>
                        <th style="width:25%;" class="fw-bold">Covid 19 Status</th>
                        <td><input type="text" id="textbox_Covid19Status" class="form-control"></td>
                    </tr>
                    <tr>
                        <th style="width:25%;" class="fw-bold">Covid 19 immunization</th>
                        <td><input type="text" id="textbox_Covid19immunization" class="form-control"></td>
                    </tr>
                </tbody>
            </table>
            <table class="table m-0 mt-3">
                <tbody>
                    <tr>
                        <th style="width:25%;" class="fw-bold">Brain Dead</th>
                        <td><input type="text" id="textbox_BrainDead" class="form-control"></td>
                    </tr>
                    <tr>
                        <th style="width:25%;" class="fw-bold">Patient Location</th>
                        <td><input type="text" id="textbox_PatientLocation" class="form-control"></td>
                    </tr>
                    <tr>
                        <th style="width:25%;" class="fw-bold">Patient Status</th>
                        <td><input type="text" id="textbox_PatientStatus" class="form-control"></td>
                    </tr>
                </tbody>
            </table>


        </div>

    </div>



</div>
</div>

<app-sharedtemplateview [FetchPatienClinicalTemplateDetailsNList]="FetchPatienClinicalTemplateDetailsNList"
      [selectedTemplateFn]="selectedTemplate.bind(this)">
</app-sharedtemplateview>

<!-- <div class="modal" id="savedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width:60%">
       <div class="modal-content">
          <div class="modal-header p-2">
             <h5 class="modal-title clr-primary-600 fs-6" translate>Templates</h5>
             <div class="d-flex align-items-center gap-2">
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"></button>
                </div>
          </div>
          <div class="modal-body p-3">
             <div class="table-cards_div text-start d-flex mx-0 mt-0 g-2 p-2 position-relative"
                *ngFor="let tem of FetchPatienClinicalTemplateDetailsNList;let i=index">
                <div class="row mx-0 g-2 w-100">
                   <div class="col-lg col-md-4 col-12">
                      <p class="label">Template ID</p>
                      <p><a href="#" (click)="$event.preventDefault();selectedTemplate(tem)">{{
                            tem.PatientTemplatedetailID }}</a></p>
                   </div>
                   <div class="col-lg col-md-4 col-12">
                      <p class="label">Name</p>
                      <p>{{ tem.PatientName }}</p>
                   </div>
 
                   <div class="col-lg col-md-4 col-12">
                      <p class="label">DoctorName</p>
                      <p>{{ tem.Consultant }}</p>
                   </div>
                   <div class="col-lg col-md-4 col-12">
                      <p class="label">Created By</p>
                      <p>{{ tem.CreatedBy }}</p>
                   </div>
                   <div class="col-lg col-md-4 col-12">
                      <p class="label">Date</p>
                      <p>{{ tem.Createdate | date: 'dd-MMM-yyyy' }}</p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>

 <div class="modal" id="saveMsg" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-toast modal-toast-success">
        <div class="modal-content">
            <img class="modal-header-icon" src="assets/images/icons/toast-success.svg" alt="">
            <div class="modal-body">
                <p>Saved successfully</p>
                <div class="modal-footer">
                    <a href="javascript:void(0)" type="button" class="btn btn-main-outline"
                        data-bs-dismiss="modal">Ok</a>
                </div>
            </div>
        </div>
    </div>
 </div> -->
 