button{
    border:0;
    height: 100%;
    padding:0.875rem;
    background-color: transparent;
}
.btn{
    border-radius: 5rem;
    font-size:0.875rem;
    padding-top:0.25rem;
    padding-bottom:0.25rem;
    white-space: nowrap;
    min-width: 4.5rem;
    height: auto;
    &:hover,
    &:active,
    &:focus{
        border-color: transparent;
        box-shadow: unset!important;
    }
}
.btn-sm{
    min-width: 2rem;
}
//Button Main
.btn-main-outline{
    background-color: $secondary-50;
    border-color:$secondary-500;
    color:$secondary-500;
    &:hover,
    &:active,
    &:focus{
        background-color: $secondary-100;
        border-color:$secondary-600 !important;
        color:$secondary-600;
    }
}
.btn-main-fill{
    background-color: $secondary-400;
    border-color:$secondary-400;
    color:$secondary-50 !important;
    &:hover,
    &:active,
    &:focus{
        background-color: $secondary-500;
        border-color:$secondary-500 !important;
        color:$secondary-100;
    }
}

//Button Secondary

.btn-secondary-outline{
    background-color: $primary-50;
    border-color:$primary-500;
    color:$primary-500;
    &:hover,
    &:active,
    &:focus{
        background-color: $primary-100;
        border-color:$primary-600 !important;
        color:$primary-600;
    }
}
.btn-secondary-fill{
    background-color: $primary-500;
    border-color:$primary-500;
    color:$primary-50;
    &:hover,
    &:active,
    &:focus{
        background-color: $primary-600;
        border-color:$primary-600 !important;
        color:$primary-100;
    }
}

//Button Success
.btn-success-outline{
    background-color: $success-50;
    border-color:$success-700;
    color:$success-700;
    &:hover,
    &:active,
    &:focus{
        background-color: $success-100;
        border-color:$success-700 !important;
        color:$success-700;
    }
}
.btn-success-fill{
    background-color: $success-500;
    border-color:$success-500;
    color:$success-50;
    &:hover,
    &:active,
    &:focus{
        background-color: $success-600;
        border-color:$success-600 !important;
        color:$success-100;
    }
}



.dropdown-item{
    font-size:0.875rem;
    border-bottom:1px solid $primary-100;
    color:$primary-700;
    &:hover{
        background-color: $primary-50;
    }
}
.btn-icon{
    border-radius:0.25rem;
    padding-bottom:0.275rem;
    min-width: 2rem;
    img{
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(75deg) brightness(103%) contrast(101%);
        width:1.25rem;
        height: 1.25rem;
    }
}
.btn-danger-outline{
    background-color: $destructive-50;
    border-color:$destructive-500;
    color:$destructive-500;
    &:hover,
    &:active,
    &:focus{
        background-color: $destructive-100;
        border-color:$destructive-600 !important;
        color:$destructive-600;
    }
}