/* Availability Card */

.availability__card{
    border:1px solid $primary-100;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0.75rem;
    box-shadow: 0px 4px 8px #EBEDED;
    border-radius: 0.25rem;
    padding:1rem;
    &.selected{
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.543 6.79L9.253 11.09L7.603 9.44C7.51335 9.33532 7.40304 9.2503 7.27897 9.19027C7.15491 9.13025 7.01977 9.09652 6.88206 9.0912C6.74434 9.08588 6.607 9.10909 6.47868 9.15936C6.35035 9.20964 6.23381 9.28589 6.13635 9.38335C6.0389 9.4808 5.96264 9.59735 5.91236 9.72568C5.86209 9.854 5.83888 9.99133 5.8442 10.1291C5.84952 10.2668 5.88325 10.4019 5.94328 10.526C6.0033 10.65 6.08832 10.7604 6.193 10.85L8.543 13.21C8.63644 13.3027 8.74726 13.376 8.8691 13.4258C8.99093 13.4755 9.1214 13.5008 9.253 13.5C9.51534 13.4989 9.76674 13.3947 9.953 13.21L14.953 8.21C15.0467 8.11704 15.1211 8.00644 15.1719 7.88458C15.2227 7.76272 15.2488 7.63201 15.2488 7.5C15.2488 7.36799 15.2227 7.23728 15.1719 7.11542C15.1211 6.99356 15.0467 6.88296 14.953 6.79C14.7656 6.60375 14.5122 6.49921 14.248 6.49921C13.9838 6.49921 13.7304 6.60375 13.543 6.79ZM10.823 0C8.84519 0 6.91179 0.58649 5.2673 1.6853C3.62281 2.78412 2.34108 4.3459 1.58421 6.17317C0.827331 8.00043 0.629298 10.0111 1.01515 11.9509C1.401 13.8907 2.35341 15.6725 3.75193 17.0711C5.15046 18.4696 6.93229 19.422 8.8721 19.8079C10.8119 20.1937 12.8226 19.9957 14.6498 19.2388C16.4771 18.4819 18.0389 17.2002 19.1377 15.5557C20.2365 13.9112 20.823 11.9778 20.823 10C20.823 8.68678 20.5643 7.38642 20.0618 6.17317C19.5593 4.95991 18.8227 3.85752 17.8941 2.92893C16.9655 2.00035 15.8631 1.26375 14.6498 0.761205C13.4366 0.258658 12.1362 0 10.823 0V0ZM10.823 18C9.24075 18 7.69403 17.5308 6.37844 16.6518C5.06285 15.7727 4.03747 14.5233 3.43197 13.0615C2.82647 11.5997 2.66804 9.99113 2.97672 8.43928C3.2854 6.88743 4.04733 5.46197 5.16615 4.34315C6.28497 3.22433 7.71043 2.4624 9.26228 2.15372C10.8141 1.84504 12.4227 2.00346 13.8845 2.60896C15.3463 3.21447 16.5957 4.23984 17.4748 5.55544C18.3538 6.87103 18.823 8.41775 18.823 10C18.823 12.1217 17.9801 14.1566 16.4799 15.6569C14.9796 17.1571 12.9447 18 10.823 18V18Z' fill='%2343A9BC'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: calc(100% - 1rem) 1rem;
    }
    p{
        margin-bottom: 0;
    }
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:0.25rem;
    p{
        font-weight: $medium;
        color:$primary-500;
    }
    .label{
    color: $neutral-500;
    font-size: 0.75rem;
    font-weight: $regular;
    }
}
.info-cards{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap:1rem;
    width: 100%;
    .info-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding:0.5rem;
        gap:0.5rem;
        background-color: $primary-50;
        border-radius: 0.25rem;
        flex:1;
        p{
            color:$primary-500;
            font-weight: $medium;
            font-size:1rem;
        }
        .label{
        color: $neutral-500;
        font-size: 0.75rem;
        font-weight: $regular;
        }
    }
}

.card__dashed{
    border:1px dashed $primary-500;
    padding:2rem;
    border-radius: 0.75rem;
    position: relative;
    .heading{
        position: absolute;
        top:0;
        left:2rem;
        font-size: 1rem;
        color:$primary-600;
        background-color: $white;
        transform:translateY(-50%);
        padding:0.5rem;
        font-weight: $regular;

    }
}
.img-rounded{
    width:4rem;
    height: 4rem;
    border-radius: 50%;
    border:1px solid $primary-500;
    overflow: hidden;
    img{
        object-fit: cover;
        width:4rem;
    }
}

.gradient-bg{
    background: linear-gradient(145.86deg, #E3F6F9 0.89%, #F7FCFD 30.97%, #F7FCFD 73.57%, #E2F5F8 97.13%);
    border: 1px solid #b0d1da;
    border-radius: 1rem;
}