// Page Header
.page-header {
    background-color: #FCFCFC;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    border-bottom: 1px solid #EBEDEF;
    padding: 0.75rem 0.5rem;

    .page-heading {
        margin: 0;
        font-size: 1.25rem;
        color: $primary-600;
        font-weight: $medium;
    }
}

//Sub-heading
.sub-heading {
    padding: 0.5rem;
    display: flex;

    h4 {
        color: $primary-600;
        font-size: 1.25rem;
        font-weight: $medium;
        margin-bottom: 0;
    }

    a {
        text-decoration: none;
        color: $secondary-500;
    }
}



//Dashboard
.left-nav,
.main-content,
.right-profile {
    height: 100vh;
    background-color: $white;
    padding: 0;
}

.left-nav {
    background-color: $white;
    background-image: url('../../images/left-bg.svg');
    background-repeat: no-repeat;
    background-position: -4rem -5rem;
    background-size: 11.5rem 11.5rem;

    .content-wrapper {
        padding: 1.5rem 0.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // height: 100%;
    }

    .nav {
        padding-top: 5rem;
        padding-bottom: 5rem;
        flex-direction: column;
        width: 90%;

        .nav-item {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            margin-bottom: 0.25rem;
            transition: all 100ms ease-in-out;

            &.active,
            &:hover {
                background-color: $primary-400;
                border-radius: 0.5rem;

                .nav-link {
                    color: $primary-50;

                    svg {
                        color: $primary-50;
                    }

                }
            }
        }

        .nav-link {
            color: $primary-700;
            font-size: 0.845rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            svg {
                color: $primary-300;
                height: 1.2rem;
            }
        }
    }
}

.right-profile {
    width: 22%;
    background-color: $white;
    background-image: url(../../images/right-bg.svg);
    background-repeat: no-repeat;
    background-position: 13.5rem -5rem;
    background-size: 11.5rem 11.5rem;

    .content-wrapper {
        padding: 1rem;
    }

    .activity-cards {
        height: 47vh;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .activity-card {
        background-color: $primary-50;
        padding: 0.75rem;
        border-radius: 0.5rem;

        h3,
        p {
            font-weight: $regular;
            color: $primary-700;
            margin-bottom: 0.5rem;
        }

        h3 {
            font-size: 1rem;
            ;
        }

        p {
            font-size: 0.845rem;
        }

        .btn {
            height: inherit;
            min-width: 3rem;
            padding-left: 0;
            padding-right: 0;
            margin-left: 1rem;
        }
    }
}

.main-content {
    background-color: $secondary-50;

    .content-wrapper {
        padding: 1rem;
        height: 100%;
    }

    .welcome-message {
        background-color: $primary-200;
        padding: 1rem;
        border-radius: 1.25rem;
        color: $primary-600;
        height: 100%;

        h2 {
            font-weight: $medium;
            font-size: 1.25rem;
        }

        h3 {
            font-weight: $light;
            font-size: 1rem;
            ;
        }

        a {
            // text-decoration: none;
            color: $primary-700;
            font-size: 0.845rem;
            display: flex;
            align-items: center;
        }
    }

    .reminders {
        height: 100%;
        background-color: $secondary-100;
        border-radius: 1.25rem;
        padding: 1rem;
        ;

        h2 {
            font-weight: $regular;
            font-size: 1rem;
            padding-left: 0.25rem;
            color: $secondary-700;
        }
    }

    .reminder-card {
        background-color: #c8cdec;
        border-radius: 0.75rem;
        padding: 0.75rem;

        p {
            font-size: 0.845rem;
            color: #515c91;
            line-height: 1.5;
            margin-bottom: 0;
        }
    }
}

.service-card {
    background-color: $white;
    padding: 1rem;
    border-radius: 1.25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .service-icon {
        background-color: $primary-50;
        padding: 1rem;
        border-radius: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;

        img {
            width: 1.5rem;
            height: auto;
        }
    }

    h3,
    p {
        color: $neutral-700;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 0.75rem;
    }

    .btn {
        height: inherit;
        min-width: 3rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
    }
}


.profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    margin-top: 3rem;

    .profile-photo {
        border-radius: 50%;
        overflow: hidden;
        width: 9rem;
        height: 9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: visible;

        &::after {
            content: " ";
            background-image: url('../images/profile-bg.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 110%;
            height: 110%;
            position: absolute;
            left: -5%;
            top: -5%;
            z-index: 0;
        }

        img {
            width: 90%;
            height: 90%;
            border-radius: 50%;
            z-index: 1;
        }
    }

    h3,
    h6 {
        margin: 0;
        padding: 0;
    }
}

/**
Family card
**/
.member-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    padding: 1.5rem 0.75rem;
    border-radius: 1rem;
    border: 1px solid $primary-100;

    .profile-details {
        display: flex;
        flex-direction: row;
        gap: 1.25rem;
        align-items: center;
        margin-top: 0;

        .profile-photo {
            width: 6rem;
            height: 6em;
        }

        h4 {
            font-weight: $regular;
            font-size: 1.25rem;
            margin-bottom: 1rem;
        }

        p {
            color: $neutral-500;
            margin-bottom: 0.75rem;
        }
    }
}

//Wrapper scroll
.wrapper-scroll {
    overflow-y: auto;
    overflow-x: hidden;

}

//Doc Card
.doc-card {
    background-color: $white;
    border-radius: 0.5rem;
    text-align: center;
    height: 100%;
    padding: 1rem 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;

    .profile-photo {
        width: 6rem;
        height: 6rem;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        border-radius: 50%;
        overflow: hidden;
        // margin-left: auto;
        // margin-right: auto;
        border: 1px solid $primary-200;
        display: inherit;
        align-self: center;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .doc-details {
        text-align: center;

        h4 {
            font-weight: $regular;
            font-size: 1rem;
            margin-bottom: 0.345rem;
            margin-top: 0.345rem;
        }

        p {
            color: $neutral-500;
            margin-bottom: 0.25rem;
        }
    }

    &.selected {
        border: 1px solid $success-500;
        box-shadow: 0 2px 8px $success-50;
        background-image: url(../../images/icons/toast-success.svg);
        background-repeat: no-repeat;
        background-position: 95% 3%;
    }

    &.doc-card-row {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 1rem;
        gap: 1.25rem;
        border: 1px solid $primary-300;

        .doc-details {
            text-align: left;
            flex: 2;
        }
    }
}

//Card Wrapper
.card-wrapper {
    border-radius: 1rem;
    background-color: #D9DDF2;
    background-color: $primary-50;
    border: 1px solid $primary-200;

    .card-wrapper-heading {
        border-bottom: 1px solid $primary-200;
        padding: 0.75rem 1rem;

        .heading {
            margin: 0;
            color: $primary-600;
        }
    }

    .card-wrapper-content {
        padding: 1rem;
    }

    .date-pill,
    .time-pill {
        background-color: $primary-100;
        border: 1px solid $primary-600;
        border-radius: 1.5rem;
        text-decoration: none;
        color: $primary-600;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 0.5rem;
        font-size: 0.845rem;

        &.selected {
            background-color: $primary-600;
            color: $primary-100;
        }
    }
}

p.label {
    margin-bottom: 0;
    color: $neutral-500;
    font-size: 0.75rem;
    font-weight: $medium;
}

p.value {
    margin-bottom: 0;
    color: $primary-500;
    font-weight: $regular;
    font-size: 0.875rem;
}