.login__wrapper {
    width: 100vw;
    height: 100vh;
    // background-color: #E3FAFD;
    position: relative;
    overflow: hidden;
    background-image: url('../images/login-wrapper-bg.png');
    background-position: left top;
    background-size: cover;
}

.login__anim-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: inherit;

    .logo-vision {
        text-align: center;
        padding-right: 8%;
        padding-top: 8%;

        img {
            width: 14rem;
        }
    }

    .bg__scroll {
        position: absolute;
        width: 6000px;
        height: 28vh;
        // background-image:url(../images/bg-scroll.png);
        background-image: url(../images/bg-scroll.png);
        background-position: left bottom;
        background-repeat: repeat-x;
        background-size: contain;
        margin-bottom: -1px;
        animation: slide 120s linear infinite alternate;


        bottom: 0;

        img {
            height: 28vh;
            margin-bottom: -1px;
        }
    }
}

.login__form-wrapper {
    margin-left: auto;
    width: 54%;
    height: 100%;
    background: linear-gradient(145.86deg, #E3F6F9 0.89%, #F7FCFD 30.97%, #F7FCFD 73.57%, #E2F5F8 97.13%);
    border-radius: 2.5rem 0 0 2.5rem;
    filter: drop-shadow(-20px 0px 24px rgba(67, 169, 188, 0.16));
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 1.5rem;

    .toggle__swithcer {
        align-self: end;
        background-color: #F8FCFC;
        border: 1px solid $primary-400;
        border-radius: 1.75rem;
        display: flex;
        padding: 0.25rem;
        gap: 0.125rem;

        .btn {
            color: $primary-500;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            min-width: 6rem;
            transition: all 400ms ease-in-out;

            &.selected {
                background-color: $primary-500;
                color: $white;
            }
        }
    }

    .date-time {
        font-size: 1rem;
        color: $primary-800;
    }

    .wrapper__object {
        position: absolute;
        z-index: -1;

        &.wrapper__object-1 {
            top: 10%;
            left: 10%;
            animation: bgobjects infinite 24s alternate;

            img {
                width: 5.5rem;
            }
        }

        &.wrapper__object-2 {
            top: 10%;
            left: 82%;
            animation: bgobjects infinite 16s alternate;

            img {
                width: 8.5rem;
            }
        }

        &.wrapper__object-3 {
            top: 45%;
            left: -5%;
            animation: bgobjects infinite 24s alternate;

            img {
                width: 8.5rem;
            }
        }

        &.wrapper__object-4 {
            top: 85%;
            left: 2%;
            animation: bgobjects infinite 30s alternate;

            img {
                width: 6.2rem;
            }
        }

        &.wrapper__object-5 {
            top: 82%;
            left: 86%;
            animation: bgobjects infinite 24s alternate;

            img {
                width: 8rem;
            }
        }
    }
}

.login__form-card {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.125rem;

    .__logo {
        img {
            width: 28rem;
            margin-bottom: 1rem;
        }
    }

    h3 {
        color: $primary-700;
        font-size: 1.125rem;
        margin-bottom: 0;
        font-weight: $semibold;
        text-transform: uppercase;
        margin-top: 0.5rem;
    }

    h2 {
        color: $primary-700;
        font-size: 1.75rem;
        font-weight: $thin;
        margin-bottom: 1.5rem;
    }

    .form-control {
        height: 3.75rem;
        background-color: $primary-50;
        border: 1px solid $primary-600;
        border-radius: 0.875rem;
        color: $primary-600;
        font-size: 1rem;
        text-align: center;

        &::placeholder {
            color: $primary-600;
            opacity: 1;
            /* Firefox */
        }
    }

    p {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    p.message {
        color: $neutral-800;
        font-size: 1rem;
        text-align: center;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }

    .btn-primary {
        width: 100%;
        background-color: $primary-500;
        border-color: $primary-500;
        height: 3.75rem;
        color: $primary-50;
        border-radius: 0.875rem;
        font-size: 1.25rem;
        font-weight: $medium;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .__timer {
        width: 160px;
        height: 160px;
        background-position: center;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='161' height='161' viewBox='0 0 161 161' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M80.2608 0.453979C124.312 0.453979 160.022 36.2712 160.022 80.4539C160.022 124.637 124.312 160.454 80.2608 160.454C36.2101 160.454 0.5 124.637 0.5 80.4539C0.5 36.2712 36.2101 0.453979 80.2608 0.453979ZM80.2608 144.454C115.501 144.454 144.069 115.8 144.069 80.4539C144.069 45.1077 115.501 16.454 80.2608 16.454C45.0203 16.454 16.4522 45.1077 16.4522 80.4539C16.4522 115.8 45.0203 144.454 80.2608 144.454Z' fill='%23DAEDF1'/%3E%3C/svg%3E%0A");
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        p {
            font-size: 2rem;
            font-weight: $semibold;
            color: $primary-600;
        }
    }

    //Timer setting
    .loader-bar {
        position: absolute;
        left: 0;
        top: 0;

        circle {
            fill: none;
            stroke: $primary-400;
            stroke-width: 0.75rem;
            stroke-dasharray: 440;
            stroke-dashoffset: 440;
            transform-origin: center;
            transform: rotate(-90deg);
            animation: animtimer 59s linear forwards;
        }
    }
}

@keyframes animtimer {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes bgobjects {
    0% {
        transform: translate(0px, 0px);
    }

    50% {

        transform: translate(-28px, 8px);
    }

    100% {

        transform: translate(0px, 0px);
    }

}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-1920px, 0, 0);
    }
}

//OTP Page
.back__btn {
    align-self: start;

    svg {
        width: 2.75rem;
        height: 2.75rem;
    }
}

.otp__input-wrapper {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .form-control {
        width: 3.75rem;
        border-radius: 50%;
        font-size: 2rem;
        font-weight: $semibold;
    }
}

.number__pad {
    display: flex;
    flex-wrap: wrap;
    width: 60%;

    .number-btn {
        .btn {
            width: 3.3rem;
            height: 3.3rem;
            border-radius: 50%;
            min-width: unset;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }
    }
}