
.table-bordered{
    border:0px solid $neutral-100;
    th{
        font-weight: $medium;
        font-size:0.75rem;
        color:$white;
        white-space: nowrap;
        padding:0.845rem 0.75rem !important;
        background-color: $primary-400 !important;
        vertical-align: middle;
        &:first-child{
            border-top-left-radius: 0.5rem;
        }
        &:last-child{
            border-top-right-radius: 0.5rem;
        }
    }
    tr{
        td{
            font-size:0.75rem;
            white-space: nowrap;
            color:$neutral-700;
            padding:0.5rem 0.75rem !important;
            vertical-align: middle;
            border-bottom: 0;
            &:first-child{
                border-left:1px solid $primary-200;
            }
            &:last-child{
                border-right:1px solid $primary-200;
            }
        }
        &:nth-child(odd){
            td{
                background-color: $white;
            }
        }
        &:nth-child(even){
            td{
                background-color: $primary-50;
                border-top:1px solid $primary-200;
                border-bottom:1px solid $primary-200;
            }
        }
        &:last-child{
            td{
                border-bottom:1px solid $primary-200;
            }
        }

    }
    .btn{
        padding-top:0.2rem;
        padding-bottom:0.2rem;
    }
    tfoot{
        th{
            background-color: #FCEBE8 !important;
            color: #BD7264;
        }
    }
}
.table-cards{
    border-collapse: separate;
    border-spacing:0 0.75rem;
    border:0px;
    width: 100%;
    tr{
        box-shadow: 0px 4px 8px #EBEDED;
        border-radius: 0.5rem;
        td{
            border-bottom:1px solid $primary-200;
            border-top:1px solid $primary-200;
            background-color: $white;
            padding:0.75rem 0.5rem;
            &:first-child{
                border-left:1px solid $primary-200;
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
            }
            &:last-child{
                border-right:1px solid $primary-200;
                border-top-right-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
            }
        }

        &.selected{
            td{
                background-color: $primary-50;
            }
        }
    }
}
