.container {
  padding: 20px;
}

.scan-container {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.input-parameters {
  flex: 0 0 300px;
}

.input-parameters h5 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.scan-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  border: 2px solid #333;
  margin-bottom: 20px;
}

.fingerprint-image {
  // width: 210px;
  // height: 300px;
  // display: block;
  // margin: 1rem auto 0;
  width: 11rem;
    height: 11rem;
    border-radius: 50%;
    background: #ecf6f8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.fingerprint_cross{
  position: absolute;
  right: 1px;
  bottom: 1px;
}

.scan-button {
  padding: 10px 30px;
  font-size: 16px;
  margin-bottom: 20px;
}

.result-container {
  width: 100%;
  margin-top: 20px;
}

.result-table {
  width: 100%;
  border-collapse: collapse;
}

.result-table td {
  padding: 10px;
  border: 1px solid #000;
}

.result-table td:first-child {
  background-color: #f5f5f5;
  font-weight: 500;
}

.result-table textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px;
  font-family: monospace;
  font-size: 12px;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

input:disabled,
select:disabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
}

.fingerprint_hand{
  margin-top: 7rem;
  transform: scale(0.95);
}
.hand-container{
 width: 100px;
  height: 200px;
  margin: 0 auto;
}
.hand-container .palm svg{
  width: 100%;
  height: 100%;
}
.hand-container .finger svg{
    width: 30px;
    height: auto;
    position: absolute;
    cursor: pointer;
}
.hand-container .finger-label{
  display: none;
}
.hand-container .finger:hover .finger-label{
  display: block;
}
.hand-container .finger-label span{
  display: block;
  // width: 1px;
  // background: #a8a8a8;
  // height: 80px;
  // position: absolute;
}
.hand-container .finger-label p{
    position: absolute;
    font-size: 9px;
    border: 1px solid #bcbcbc;
    border-radius: 0.25rem;
    padding: 0.2rem;
    min-width: 64px;
    text-align: center;
    background: #fff;
}
.hand-container .finger.active path{
    fill: #ff6f6f;
}
.hand-container .finger:hover path{
    fill: #ff6f6f;
}
.hand-container .finger .finger-count{
  position: absolute;
  background-color: #fff;
  font-size: 9px;
   width: 15px;
   min-width: 15px;
   height: 15px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid #bcbcbc;
}