.image-container {
    position: relative;
    .marker {
        position: absolute;
        display: flex;
        flex-direction: column;
        transform: translate(-10px, -10px);
    }
    .input-with-delete {
        display: flex;
        position: absolute;
        left: 0;
        top: 20px;
        .delete-icon {
            cursor: pointer;
            position: absolute;
            right: -5px;
            top: -5px;
        }
    }
    .marker {
        &.left {
            .input-with-delete {
                right: 0;
                left: unset;
                .delete-icon {
                    left: -5px;
                }
            }   
        }
    }
}