.main_loader {
    position: absolute;
    top: 50%;
    left: 40%;
    margin-left: 10%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #e3e3e394;
    z-index: 99999;
    width: 100%;
    height: 100%;
}

.main_loader .loader_dot {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: loader_slide 1.5s infinite;
    animation: loader_slide 1.5s infinite;
}

.main_loader .loader_dot:nth-child(1) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.main_loader .loader_dot:nth-child(2) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.main_loader .loader_dot:nth-child(3) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.main_loader .loader_dot:nth-child(4) {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.main_loader .loader_dot:nth-child(5) {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes loader_slide {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        opacity: 0.3;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes loader_slide {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        opacity: 0.3;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.main_loader .loading {
    position: absolute;
    top: 53%;
    /* top: 3rem; */
    left: 50%;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    color: #24707e;
}

.main_loader .loading span {
    display: inline-block;
    margin: 0 -.05em;
}

.main_loader .loading03 span {
    margin: 0 -.075em;
    -webkit-animation: loading03 .4s infinite alternate;
    animation: loading03 .4s infinite alternate;
}

.main_loader .loading03 span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.main_loader .loading03 span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.main_loader .loading03 span:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.main_loader .loading03 span:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.main_loader .loading03 span:nth-child(6) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.main_loader .loading03 span:nth-child(7) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

@-webkit-keyframes loading03 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.65);
        transform: scale(0.65);
    }
}

@keyframes loading03 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.65);
        transform: scale(0.65);
    }
}