<div class="card card-style-1 rounded ">
    <div class="card-header rounded-top justify-content-between" style="height: 3rem;">
        <h2 class="card-heading">Follow-up & Re-assessment</h2>
        <div class="actions generalConsent_popup position-relative d-flex align-items-center gap-2" *ngIf="IsView">
            <button class="btn btn-main-outline" (click)="viewWorklist()">View</button>
        </div>
    </div>

    <div class="bg-white p-3 rounded-2" #divflrs *ngIf="showContent">
        <div class="bg-white p-3 rounded-2">

            <div class="mt-3">
                <table class="table">
                    <thead class="">
                        <tr>
                            <th class="text-center">Date & Time</th>
                            <th class="text-center">Follow Up</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> <input class="form-control" type="text" id="DateTime1" style="width: 100%; "></td>
                            <td> <input class="form-control" type="text" id="Followup1" style="width: 100%;"></td>
                        </tr>
                        <tr>
                            <td> <input class="form-control" type="text" id="DateTime2" style="width: 100%;"></td>
                            <td> <input class="form-control" type="text" id="Followup2" style="width: 100%;"></td>
                        </tr>
                        <tr>
                            <td> <input class="form-control" type="text" id="DateTime3" style="width: 100%;"></td>
                            <td> <input class="form-control" type="text" id="Followup3" style="width: 100%;"></td>
                        </tr>
                        <tr>
                            <td> <input class="form-control" type="text" id="DateTime4" style="width: 100%;"></td>
                            <td> <input class="form-control" type="text" id="Followup4" style="width: 100%;"></td>
                        </tr>
                        <tr>
                            <td> <input class="form-control" type="text" id="DateTime5" style="width: 100%;"></td>
                            <td> <input class="form-control" type="text" id="Followup5" style="width: 100%;"></td>
                        </tr>
                        <tr>
                            <td> <input class="form-control" type="text" id="DateTime6" style="width: 100%;"></td>
                            <td> <input class="form-control" type="text" id="Followup6" style="width: 100%;"></td>
                        </tr>
                        <tr>
                            <td> <input class="form-control" type="text" id="DateTime7" style="width: 100%;"></td>
                            <td> <input class="form-control" type="text" id="Followup7" style="width: 100%;"></td>
                        </tr>
                        <tr>
                            <td> <input class="form-control" type="text" id="DateTime8" style="width: 100%;"></td>
                            <td> <input class="form-control" type="text" id="Followup8" style="width: 100%;"></td>
                        </tr>
                        <tr>
                            <td> <input class="form-control" type="text" id="DateTime9" style="width: 100%;"></td>
                            <td> <input class="form-control" type="text" id="Followup9" style="width: 100%;"></td>
                        </tr>
                        <tr>
                            <td> <input class="form-control" type="text" id="DateTime10" style="width: 100%; "></td>
                            <td> <input class="form-control" type="text" id="Followup10" style="width: 100%;"></td>
                        </tr>
                        <tr>
                            <td> <input class="form-control" type="text" id="DateTime11" style="width: 100%;"></td>
                            <td> <input class="form-control" type="text" id="Followup11" style="width: 100%;"></td>
                        </tr>
                        <tr>
                            <td> <input class="form-control" type="text" id="DateTime12" style="width: 100%;"></td>
                            <td> <input class="form-control" type="text" id="Followup12" style="width: 100%;"></td>
                        </tr>
                        <tr>
                            <td> <input class="form-control" type="text" id="DateTime13" style="width: 100%;"></td>
                            <td> <input class="form-control" type="text" id="Followup13" style="width: 100%;"></td>
                        </tr>
                        <tr>
                            <td> <input class="form-control" type="text" id="DateTime14" style="width: 100%;"></td>
                            <td> <input class="form-control" type="text" id="Followup14" style="width: 100%;"></td>
                        </tr>
                        <tr>
                            <td> <input class="form-control" type="text" id="DateTime15" style="width: 100%;"></td>
                            <td> <input class="form-control" type="text" id="Followup15" style="width: 100%;"></td>
                        </tr>
                        <tr>
                            <td> <input class="form-control" type="text" id="DateTime16" style="width: 100%;"></td>
                            <td> <input class="form-control" type="text" id="Followup16" style="width: 100%;"></td>
                        </tr>
                        <tr>
                            <td> <input class="form-control" type="text" id="DateTime17" style="width: 100%;"></td>
                            <td> <input class="form-control" type="text" id="Followup17" style="width: 100%;"></td>
                        </tr>
                        <tr>
                            <td> <input class="form-control" type="text" id="DateTime18" style="width: 100%;"></td>
                            <td> <input class="form-control" type="text" id="Followup18" style="width: 100%;"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        

    </div>

</div>


<div class="modal" id="savedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width:60%">
        <div class="modal-content">
            <div class="modal-header p-2">
                <h5 class="modal-title clr-primary-600 fs-6" translate>Templates</h5>
                <div class="d-flex align-items-center gap-2">
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"></button>
                </div>
            </div>
            <div class="modal-body p-3">
                <div class="table-cards_div text-start d-flex mx-0 mt-0 g-2 p-2 position-relative"
                    *ngFor="let tem of FetchPatienClinicalTemplateDetailsNList;let i=index">
                    <div class="row mx-0 g-2 w-100">
                        <div class="col-lg col-md-4 col-12">
                            <p class="label">Template ID</p>
                            <p><a href="#" (click)="$event.preventDefault();selectedTemplate(tem)">{{
                                    tem.PatientTemplatedetailID }}</a></p>
                        </div>
                        <div class="col-lg col-md-4 col-12">
                            <p class="label">Name</p>
                            <p>{{ tem.PatientName }}</p>
                        </div>

                        <div class="col-lg col-md-4 col-12">
                            <p class="label">DoctorName</p>
                            <p>{{ tem.Consultant }}</p>
                        </div>
                        <div class="col-lg col-md-4 col-12">
                            <p class="label">Created By</p>
                            <p>{{ tem.CreatedBy }}</p>
                        </div>
                        <div class="col-lg col-md-4 col-12">
                            <p class="label">Date</p>
                            <p>{{ tem.Createdate | date: 'dd-MMM-yyyy' }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="saveMsg" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-toast modal-toast-success">
        <div class="modal-content">
            <img class="modal-header-icon" src="assets/images/icons/toast-success.svg" alt="">
            <div class="modal-body">
                <p>Saved successfully</p>
                <div class="modal-footer">
                    <a href="javascript:void(0)" type="button" class="btn btn-main-outline"
                        data-bs-dismiss="modal">Ok</a>
                </div>
            </div>
        </div>
    </div>
</div>