<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"></h5>
    <div class="d-flex align-items-center gap-2">
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
    </div>
</div>
<div class="modal-content">
    <div class="modal-header">
        <h5 class="m-0">{{langData?.common?.Allergies}}</h5>
        <div class="d-flex align-items-center gap-2">
            <div class="d-flex align-items-center gap-2">
                <button class="btn btn-danger-outline"
                    (click)="ClearAllergy()">{{langData?.common?.Clear}}</button>
                <button class="btn btn-main-outline"
                    (click)="SaveAllergy()">{{langData?.common?.Save}}</button>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="d-flex justify-content-center gap-3 allergy_form pb-3">
            <button id="btnDrug" class="d-flex align-items-center justify-content-center btn btn-main-outline"
                (click)="allergyTypeSelection('Drug')"><span class="dot ms-2"></span>
                {{langData?.casesheet?.Drug}}</button>
            <button id="btnFood" class="d-flex align-items-center justify-content-center btn btn-main-outline"
                [ngClass]="{'active': allergyType === 'Food'}" (click)="allergyTypeSelection('Food')"><span
                    class="dot ms-2"></span> {{langData?.casesheet?.Food}}</button>
            <button id="btnContrast"
                class="d-flex align-items-center justify-content-center btn btn-main-outline" disabled
                (click)="allergyTypeSelection('Contrast')"><span class="dot ms-2"></span>
                {{langData?.casesheet?.Contrast}}</button>
            <button id="btnOthers" class="d-flex align-items-center justify-content-center btn btn-main-outline"
                (click)="allergyTypeSelection('Others')"><span class="dot ms-2"></span>
                {{langData?.home?.othersLabel}}</button>
        </div>

        <div class="d-flex justify-content-center gap-3 allergy_form pb-3" *ngIf="this.allergyType == 'Food'">
            <button id="btntop_{{trimSpaces(allergy.name)}}"
                class="d-flex align-items-center justify-content-center btn btn-main-outline"
                *ngFor="let allergy of topFoodAllergyList;let i=index" (click)="addFavAllergy(allergy)"><span
                    class="dot ms-2"></span>{{allergy.name}}</button>
        </div>

        <div class="border-primary-200 bg-primary-50 rounded-3 p-2" [formGroup]="allergyForm">
            <div class="row mx-0 g-3 align-items-end allergy_fields">
                <div class="col-md-5">
                    <label for="" class="form-label">{{langData?.common?.Name}}</label>
                    <input type="text" class="form-control" placeholder={{langData?.common?.Name}}
                        formControlName="DrugName" [(ngModel)]="allergyQuery" aria-label="Allergy Name"
                        [matAutocomplete]="autoAllergy"
                        (keyup)="($event.key === 'ArrowUp' || $event.key === 'ArrowDown') ? $event.preventDefault() : fetchAllergySearch($event)">
                    <span class="bottom-0"
                        *ngIf="(isAllergySubmitted && this.allergyForm.get('DrugName')?.errors) || (!this.allergyForm.get('DrugName')?.pristine && this.allergyForm.get('DrugName')?.invalid)">
                        <div class="text-danger" *ngIf="this.allergyForm.get('DrugName')?.errors?.['required']">
                            {{langData?.casesheet?.Nameisrequired}}</div>
                    </span>
                    <mat-autocomplete #autoAllergy="matAutocomplete">
                        <mat-option *ngFor="let item of allergyList" (click)="selectAllergyItem(item)">
                            {{item.name}}
                        </mat-option>
                    </mat-autocomplete>

                </div>
                <div class="col-md-5">
                    <label for="" class="form-label">{{langData?.casesheet?.Severity}}</label>
                    <select name="" class="form-select" id="" formControlName="Severity">
                        <option value="0">{{langData?.common?.Select}}</option>
                        <option value="1">{{langData?.casesheet?.Mild}}</option>
                        <option value="2">{{langData?.casesheet?.Uncomfortable}}</option>
                        <option value="3">{{langData?.casesheet?.Dangerous}}</option>
                    </select>
                    <span class="bottom-0"
                        *ngIf="(isAllergySubmitted && (this.allergyForm.get('Severity')?.value == '0' || this.allergyForm.get('Severity')?.value == ''))">
                        <div class="text-danger">
                            {{langData?.casesheet?.Severityisrequired}}</div>
                    </span>
                </div>
                <div class="col-md-2 d-none">
                    <label for="" class="form-label">{{langData?.common?.Status}}</label>
                    <div class="clinical_toggle toggle__switch switch-sm d-inline-flex align-self-start">
                        <button class="fs-7 btn">{{langData?.common?.no}}</button>
                        <button class="fs-7 btn selected">{{langData?.common?.yes}}</button>
                    </div>
                </div>
                <div class="col-md-10">
                    <label for="" class="form-label">{{langData?.casesheet?.Description}}</label>
                    <textarea name="" class="form-control resize-none" id="" cols="30" rows="1"
                        formControlName="Description"></textarea>
                </div>
                <div class="col-md-2">
                    <div class="w-100 text-center">
                        <button class="btn btn-main-fill mt-3" *ngIf="!isEdit"
                            (click)="addDrug()">{{langData?.common?.Add}}</button>
                        <button class="btn btn-main-fill mt-3" *ngIf="isEdit"
                            (click)="updateAllergy()">{{langData?.common?.Update}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-3 border-primary-200 bg-primary-50 rounded-3 p-2 d-none">
            <div class="row mx-0">
                <div class="col-md-5">
                    <label for="" class="form-label">{{langData?.common?.ToDate}}</label>
                    <input type="date" class="form-control">
                </div>
                <div class="col-md-5">
                    <label for="" class="form-label">{{langData?.casesheet?.BlockedRemarks}}</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div *ngIf="drugList.length > 0">
            <div class="card-3d mt-3 p-2" *ngFor="let drug of drugList;let i=index">
                <div class="row mx-0 align-items-start">
                    <div class="col-md-1">
                        <p class="label text-break">{{langData?.common?.type}}</p>
                        <p class="value text-break">{{langData?.casesheet?.Drug}}</p>
                    </div>
                    <div class="col-md-5">
                        <p class="label text-break">{{langData?.common?.Name}}</p>
                        <p class="value text-break">{{drug.DrugName}}</p>
                    </div>
                    <div class="col-md-2">
                        <p class="label text-break">{{langData?.casesheet?.Severity}}</p>
                        <p class="value text-break">{{drug.ALLERGIETYPES == "1" ? "Mild" : drug.ALLERGIETYPES ==
                            "2" ? "Uncomfortable" : drug.ALLERGIETYPES == "3" ? "Dangerous" : "NA" }}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="label text-break">{{langData?.casesheet?.Description}}</p>
                        <p class="value text-break">{{drug.DSC}}</p>
                    </div>
                    <div class="col-md-1">
                        <p class="label text-break"> </p>
                        <div class="d-flex justify-content-center gap-2">
                            <svg class="cursor-pointer" (click)="editAllergy(drug, i, 'D')" width="20"
                                height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22H15C20 22 22 20 22 15V13"
                                    stroke="#43A9BC" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M16.0399 3.02001L8.15988 10.9C7.85988 11.2 7.55988 11.79 7.49988 12.22L7.06988 15.23C6.90988 16.32 7.67988 17.08 8.76988 16.93L11.7799 16.5C12.1999 16.44 12.7899 16.14 13.0999 15.84L20.9799 7.96001C22.3399 6.60001 22.9799 5.02001 20.9799 3.02001C18.9799 1.02001 17.3999 1.66001 16.0399 3.02001Z"
                                    stroke="#43A9BC" stroke-width="1.5" stroke-miterlimit="10"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M14.9099 4.15002C15.2415 5.32749 15.8699 6.40009 16.7349 7.26507C17.5998 8.13005 18.6724 8.75843 19.8499 9.09002"
                                    stroke="#43A9BC" stroke-width="1.5" stroke-miterlimit="10"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <svg class="cursor-pointer" width="20" height="20" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" (click)="deleteDrugAllergy(i)">
                                <path
                                    d="M21 5.98C17.67 5.65 14.32 5.48 10.98 5.48C9 5.48 7.02 5.58 5.04 5.78L3 5.98M8.5 4.97L8.72 3.66C8.88 2.71 9 2 10.69 2H13.31C15 2 15.13 2.75 15.28 3.67L15.5 4.97M18.85 9.14L18.2 19.21C18.09 20.78 18 22 15.21 22H8.79C6 22 5.91 20.78 5.8 19.21L5.15 9.14M10.33 16.5H13.66M9.5 12.5H14.5"
                                    stroke="#EB6247" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="validation_err">
            <span class="text-danger" *ngIf="(this.severityForFoodAllergy != '')">
                <p class="m-0" style="font-size:12px;">{{severityForFoodAllergy}}</p>
            </span>
        </div>
        <div *ngIf="foodList.length > 0">
            <div class="card-3d mt-3 p-2" *ngFor="let food of foodList;let i=index">
                <div class="row mx-0 align-items-start">
                    <div class="col-md-1">
                        <p class="label text-break">{{langData?.common?.type}}</p>
                        <p class="value text-break">{{langData?.common?.Food}}</p>
                    </div>
                    <div class="col-md-5">
                        <p class="label text-break">{{langData?.common?.Name}}</p>
                        <p class="value text-break">{{food.REMARKS}}</p>
                    </div>
                    <div class="col-md-2">
                        <p class="label text-break">{{langData?.casesheet?.Severity}}</p>
                        <p class="value text-break">{{food.ALLERGIETYPES == "1" ? "Mild" : food.ALLERGIETYPES ==
                            "2" ? "Uncomfortable" : food.ALLERGIETYPES == "3" ? "Dangerous" : "NA" }}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="label text-break">{{langData?.casesheet?.Description}}</p>
                        <p class="value text-break">{{food.DSC}}</p>
                    </div>
                    <div class="col-md-1">
                        <p class="label text-break"> </p>
                        <div class="d-flex justify-content-center gap-2">
                            <svg class="cursor-pointer" (click)="editAllergy(food, i, 'F')" width="20"
                                height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22H15C20 22 22 20 22 15V13"
                                    stroke="#43A9BC" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M16.0399 3.02001L8.15988 10.9C7.85988 11.2 7.55988 11.79 7.49988 12.22L7.06988 15.23C6.90988 16.32 7.67988 17.08 8.76988 16.93L11.7799 16.5C12.1999 16.44 12.7899 16.14 13.0999 15.84L20.9799 7.96001C22.3399 6.60001 22.9799 5.02001 20.9799 3.02001C18.9799 1.02001 17.3999 1.66001 16.0399 3.02001Z"
                                    stroke="#43A9BC" stroke-width="1.5" stroke-miterlimit="10"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M14.9099 4.15002C15.2415 5.32749 15.8699 6.40009 16.7349 7.26507C17.5998 8.13005 18.6724 8.75843 19.8499 9.09002"
                                    stroke="#43A9BC" stroke-width="1.5" stroke-miterlimit="10"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <svg class="cursor-pointer" width="20" height="20" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" (click)="deleteFoodAllergy(i)">
                                <path
                                    d="M21 5.98C17.67 5.65 14.32 5.48 10.98 5.48C9 5.48 7.02 5.58 5.04 5.78L3 5.98M8.5 4.97L8.72 3.66C8.88 2.71 9 2 10.69 2H13.31C15 2 15.13 2.75 15.28 3.67L15.5 4.97M18.85 9.14L18.2 19.21C18.09 20.78 18 22 15.21 22H8.79C6 22 5.91 20.78 5.8 19.21L5.15 9.14M10.33 16.5H13.66M9.5 12.5H14.5"
                                    stroke="#EB6247" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="otherallergyList.length > 0">
            <div class="card-3d mt-3 p-2" *ngFor="let food of otherallergyList;let i=index">
                <div class="row mx-0 align-items-start">
                    <div class="col-md-1">
                        <p class="label text-break">{{langData?.common?.type}}</p>
                        <p class="value text-break">Other</p>
                    </div>
                    <div class="col-md-5">
                        <p class="label text-break">{{langData?.common?.Name}}</p>
                        <p class="value text-break">{{food.REMARKS}}</p>
                    </div>
                    <div class="col-md-2">
                        <p class="label text-break">{{langData?.casesheet?.Severity}}</p>
                        <p class="value text-break">{{food.ALLERGIETYPES == "1" ? "Mild" : food.ALLERGIETYPES ==
                            "2" ? "Uncomfortable" : food.ALLERGIETYPES == "3" ? "Dangerous" : "NA" }}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="label text-break">{{langData?.casesheet?.Description}}</p>
                        <p class="value text-break">{{food.DSC}}</p>
                    </div>
                    <div class="col-md-1">
                        <p class="label text-break"> </p>
                        <div class="d-flex justify-content-center gap-2">
                            <svg class="cursor-pointer" (click)="editAllergy(food, i, 'O')" width="20"
                                height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22H15C20 22 22 20 22 15V13"
                                    stroke="#43A9BC" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M16.0399 3.02001L8.15988 10.9C7.85988 11.2 7.55988 11.79 7.49988 12.22L7.06988 15.23C6.90988 16.32 7.67988 17.08 8.76988 16.93L11.7799 16.5C12.1999 16.44 12.7899 16.14 13.0999 15.84L20.9799 7.96001C22.3399 6.60001 22.9799 5.02001 20.9799 3.02001C18.9799 1.02001 17.3999 1.66001 16.0399 3.02001Z"
                                    stroke="#43A9BC" stroke-width="1.5" stroke-miterlimit="10"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M14.9099 4.15002C15.2415 5.32749 15.8699 6.40009 16.7349 7.26507C17.5998 8.13005 18.6724 8.75843 19.8499 9.09002"
                                    stroke="#43A9BC" stroke-width="1.5" stroke-miterlimit="10"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <svg class="cursor-pointer" width="20" height="20" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" (click)="deleteOtherAllergy(i)">
                                <path
                                    d="M21 5.98C17.67 5.65 14.32 5.48 10.98 5.48C9 5.48 7.02 5.58 5.04 5.78L3 5.98M8.5 4.97L8.72 3.66C8.88 2.71 9 2 10.69 2H13.31C15 2 15.13 2.75 15.28 3.67L15.5 4.97M18.85 9.14L18.2 19.21C18.09 20.78 18 22 15.21 22H8.79C6 22 5.91 20.78 5.8 19.21L5.15 9.14M10.33 16.5H13.66M9.5 12.5H14.5"
                                    stroke="#EB6247" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="saveAllergyMsg" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-toast modal-toast-success">
        <div class="modal-content">
            <img class="modal-header-icon" src="assets/images/icons/toast-success.svg" alt="">
            <div class="modal-body">
                <p>{{langData?.casesheet?.AllergiesSavedSuccessfully}}</p>
                <div class="modal-footer">
                    <a href="javascript:void(0)" type="button" class="btn btn-main-outline"
                        data-bs-dismiss="modal">{{langData?.common?.ok}}</a>
                </div>
            </div>
        </div>
    </div>
</div>