.disabled {
    pointer-events: none;
}


.divdisabled input,
.divdisabled select,
.divdisabled button,
.divdisabled .custom_check,
.divdisabled textarea,
.divdisabled span,
.divdisabled label{
  pointer-events: none;
}
.divdisabled *{
  user-select:none;
}